body{
    opacity:0.9;
}
#home-section{
    background-image: url(../img/home3.jpg);
    background-repeat: no-repeat;
    width:100%;
    height: 700px;
    top:0;
    left:0;
    background-size: cover;
    
}
.img-fluid{
    width:80px;
    height:80px;
    
}
#home-section .home-inner{
    padding-top: 200px;
    padding-left: 15%;
    opacity: 0.8;
    color:white;
    
    

}
.card-body{
    padding-top: 300px;
    text-align: right;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px ;
}
.card-header{
    padding-0;
    color:aliceblue;

}
#create-head-section{
    background-color:dark;
    padding-left:5%;
    border-left: 20px;
    border-color: aliceblue;

}
 
 .col {
    border-left: 2px solid white;
    height: 100px;
    left: 50%;
    border-width: 20px;
  }  
  .img-fluid1{
      height:300px;
      width: 500px;
  }
  .card-header1{
      text-align:center ;
  }
  .card-body1{
      text-align: center;
      
    
      }
.img-fluid2{
     
    width: 10%;
    height:10%;
    align-items: center;
    

}
.footer{
    color:aliceblue;
    background-color: #333;
    text-align: center;
}
